# CityBikes

Send a request to CityBikes for the city of your choice.

In [ ]:
import requests
import pandas as pd

# Call the networks endpoint
url = "https://api.citybik.es/v2/networks"
resp = requests.get(url).json()

# Find the Vancouver network(s)
vancouver_nets = [
    net for netfor net in vancouver_nets:
    print("ID:", net['id'])

ID: mobibikes

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [2]:
# Get Vancouver station data using the network ID
url = "https://api.citybik.es/v2/networks/mobibikes"
bike_data = requests.get(url).json()

# Extract station list
stations = bike_data['network']['stations']
print("Stations found:", len(stations) )

Stations found: 264

Put your parsed results into a DataFrame.

In [3]:
# Create a DataFrame
df = pd.DataFrame(stations)

# Save to CSV
df.to_csv("vancouver_bike_stations.csv", index=False)

# Display a DataFrame
df.head()

,id,name,latitude,longitude,timestamp,free_bikes,empty_slots,extra
0,00fa94ad698dc4a9e4d708d6fd32f294,Chilco & Barclay,49.291909,-123.140713,2025-05-15T22:10:18.971140+00:00Z,12,6,"{'uid': '0092', 'renting': True, 'returning': ..."
1,012d3e06901cc222b1c2cf0a2ace3a29,St George & Broadway,49.262321,-123.093060,2025-05-15T22:10:19.278717+00:00Z,4,9,"{'uid': '0248', 'renting': True, 'returning': ..."
2,029a505bd4422a1afd127987757f71a6,Britannia Parking Lot,49.275882,-123.071865,2025-05-15T22:10:19.223420+00:00Z,1,10,"{'uid': '0232', 'renting': True, 'returning': ..."
3,0438114d2e6b96118de69bc9775bb21e,Morton & Denman,49.288030,-123.142135,2025-05-15T22:10:18.888188+00:00Z,8,17,"{'uid': '0031', 'renting': True, 'returning': ..."
4,0459b7e93703980b853cd65a9dc60596,Thornton & National,49.273777,-123.092723,2025-05-15T22:10:19.277211+00:00Z,11,3,"{'uid': '0233', 'renting': True, 'returning': ..."